footer.sh__footer
    .sh__footer-wrp
        h2.sh__footer--text Built with&nbsp;
            picture(class="sh__footer--love-icon")
                source(srcset="images/heart.svg?as=avif&width=80" type="image/avif")
                source(srcset="images/heart.svg?as=webp&width=80" type="image/webp")
                source(srcset="images/heart.svg?width=80" type="image/png")
                img(src="images/heart.svg?width=80" alt="heart icon")

            | &nbsp;by&nbsp;

            a(href="https://x.com/helenphill30721" class="sh__footer--user")
                span folko 
                picture(class="sh__footer--user-icon")
                    source(srcset="images/sagnik.png?as=avif&width=100" type="image/avif")
                    source(srcset="images/sagnik.png?as=webp&width=100" type="image/webp")
                    source(srcset="images/sagnik.png?width=100" type="image/jpg")
                    img(src="images/sagnik.png?width=100" alt="sagnik icon")

            | &nbsp; | &nbsp;

            a(href="https://t.me/Driscolleui" class="sh__footer--telegram" target="_blank")
                picture(class="sh__footer--telegram-icon")
                    source(srcset="images/Bernau.png?as=avif&width=80" type="image/avif")
                    source(srcset="images/Bernau.png?as=webp&width=80" type="image/webp")
                    source(srcset="images/Bernau.png?width=80" type="image/png")
                    img(src="images/Bernau.png?width=80" alt="Telegram icon" width="40" height="40")
